/*-------- base rules--------*/
body {
    padding: 0;
    margin: 0;
}
.tree-list {
    padding: 0;
    margin: 0 0 0 20px;
}
ul li {
    list-style-type: none;
}
/*-------- layout rules --------*/
.main-team {
  position: relative;
  display: inline-block;
  height: 167px;
  width: 100px;
  vertical-align: top;
}
.main-team > P {
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 28px;
  background-color: #BC8F8F;
}
.team-player {
  position: relative;
  left: -40px;
  top: -16px;
}
.team-player > li {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border-style: solid;
  border-width: thin;
  border-color: #d2b6c5 transparent;
  background-color: #EEE9E9;
}
.team-name:hover {
  cursor: pointer;
  background-color: #9b3b6e;
  color: #fff;
  box-shadow: 0 0 3px;
}
.hide {
  display: none;
}
